<%= render 'partials/header', :locals => {:page => "/dashboard"} %>
<table class="table">
    <thead>
        <tr>
            <th>Match ID</th>
            <th>Day</th>
            <th>Winner</th>
            <th>Loser</th>
        </tr>
    </thead>
    <tbody>
        <% @matches.each do |match| %>
            <%
                winner_participant = @participants.select { |participant|
                    participant.match_id == match.id && participant.is_winner
                }[0]
                winner = @players.select { |player|
                    player.id == winner_participant.player_id
                }[0]
                loser_participant = @participants.select { |participant|
                    participant.match_id == match.id && !participant.is_winner
                }[0]
                loser = @players.select { |player|
                    player.id == loser_participant.player_id
                }[0]
            %>
            <tr>
                <th scope="row"><%= match.id %></th>
                <td><%= match.day %></td>
                <td>
                    <a href="/player/<%= winner.id %>">
                        <%= winner.real_name %>
                    </a>
                </td>
                <td>
                    <a href="/player/<%= loser.id %>">
                        <%= loser.real_name %>
                    </a>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
