<%= render 'partials/header', :locals => {:page => "/players/"+@player.id.to_s} %>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="pill"><%= @player.real_name %></h1>
        </div>
        <div class="col-md-6">
            <h2>Match History</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Match ID</th>
                        <th>Day</th>
                        <th>Opponent</th>
                        <th>Win?</th>
                    </tr>
                </thead>
                <tbody>
                    <% @participations.reverse().each do |p| %>
                        <%
                            match = @matches.select { |match| match.id == p.match_id }[0]
                            opponent_participation =  @opponents.select{ |o| o.match_id = p.match_id }[0]
                            puts opponent_participation.inspect
                            opponent_player = @players.select { |pl| pl.id = opponent_participation.player_id }[0]
                        %>
                    <tr class="<%= p.is_winner ? 'success' : 'danger'%>">
                        <th scope="row">
                            <a href="/matches/<%= match.id %>"><%= match.id %></a>
                        </th>
                        <td><%= match.human_date %></td>
                        <td>
                            <a href="/players/<%= opponent_player.id %>">
                                <%= opponent_player.real_name %>
                            </a>
                        </td>
                        <td>
                            <% if p.is_winner %>
                                Win
                            <% else %>
                                Loss
                            <% end %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div><!-- end col-md-6 -->
        <div class="col-md-6">
            <h2>Elo History</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Elo</th>
                        <th>Uncertainty</th>
                    </tr>
                </thead>
                <tbody>
                    <% @elos.each do |elo| %>
                        <tr>
                            <th scope="row"><%= elo.human_date %></th>
                            <td><%= elo.elo %></th>
                            <td><%= elo.uncertainty %></th>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
